
/**{
    border: green solid;
}
*/

header{
    place-items: center;
    display: grid;
    text-align: center;

}
header img{
    width: 20%;
}
.color_link{
    color: aliceblue;
    text-decoration:none; /*Remove the decoration*/
}
.img-banner{
    width: 100%;

}

body{
    background: radial-gradient(ellipse at center, #866a04 0%, #000 100%);
    font-size: x-large;
    font-weight: bolder;
    height: 100%;
    color: white;
    text-align: center;
}
.card{
    border-width: 2px;
    border-style: solid;
    border-color: white;
    text-align: center;
    margin-left:  2%;
    margin-right: 2%;
}
.memberSpotlights .card1 {
    border-width: 2px;
    border-style: solid;
    border-color: white;
    text-align: center;
    margin-left:  2%;
    margin-right: 2%;
    margin-bottom: 1rem;
}

footer{
background-color: black;
color: wheat;
text-align: center;
}
hr {
    width: 90%;
    text-align: center;
    color: wheat;
}