/** {
    border: green solid;
}*/

.card {
    border-width: 2px;
    border-style: solid;
    border-color: #eeba30;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 20px;
    /* Ajusta este valor según el espacio que desees entre las cartas */
}

/* En tu archivo CSS, agrega el estilo para el elemento span y el contenido adicional */
#show-more {
    color: grey;
    /* Puedes cambiar el color que quieras */
    cursor: pointer;
    /* Para que se vea como un enlace */
}

#more-content {
    margin-top: 10px;
    /* Puedes ajustar el margen que quieras */
}


/* clima */

.hg-weather {
    justify-content: center;
    background-color: transparent;
    border: solid;
    border-radius: 3px;
    display: flex; /* Cambiamos a flexbox */
    align-items: center; /* Centramos verticalmente */


}

.hg-weather.clear_day {
    border-color: #217CAF;
    color: white;
}

.hg-weather.clear_night {
    border-color: #555;
    color: white;
}

.hg-weather.cloudly_day,
.hg-weather.fog,
.hg-weather.rain,
.hg-weather.storm {
    border-color: #ddd;
}

.hg-weather.cloudly_night {
    border-color: #444;
    color: white;
}

.hg-weather img {
    width: 40%;
}