/**{
  border: green solid;
}*/
.banner {
  display: flex;
}

.heroContent {
  grid-column-start: 2;
  border-radius: 25px;
  padding: 20px; 
  margin: 20px; 
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  flex: 2; /* content will width the 25% of the screen */
}

.heroContent h2,
.heroContent p {
  margin: 10px 0; 
}

.hero-container {
  flex: 7; 
  overflow: hidden;
  text-align: center;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 10px;
  
}

.hero-container img {
  max-width: 100%;
  height: auto;
  width: auto; 
  border-radius: 25px;
}

.hero-container,
.heroContent {

}
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }

  .hero-container,
  .heroContent {
    flex: 1; 
    
  }

  .heroContent {
    text-align: center; 
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 680px) {
    .hero-container {

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        text-align: center;
        margin: 10px;
    }
    .hero-container img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        display: inline-block;
    }
}
