/*Hamburger Menu button*/
nav {
    display: grid;
    font-size: 26px;
}

nav ul {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 0px;
    margin-top: 0px;
    list-style: none;
}

.navigation a {
    padding: 1rem;
}

.navigation a:hover {
    background-color: rgb(58, 63, 68);
}

/*para ocular la linea blanca que sale */
#menu {
    border: none;
    padding: 0;
}

/*Dark Mode Button */
.button-position {
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
  
  }
  
  #ButtonImage {
    width: 50px;
    height: auto;
    transition: opacity 0.5s ease-in-out;
    border-radius: 10px;
  }
  
  /* Harry*/
  .gryffindor-mode {
    font-size: x-large;
    font-weight: bolder;
    color: #c005;
  }
  
  
  /* Malfoy*/
  .slytherin-mode {
    color: #003407;
    background: linear-gradient(90deg, #787878 0%, #b5b5b5 25%, #e3e3e3 50%, #b5b5b5 75%, #787878 100%);
    font-size: x-large;
    font-weight: bolder;
  }
  
  .slytherin-mode a {
    color: #003407;
  }
  .slytherin-mode button a{
    color: aliceblue;
    text-decoration: none;
  }
  
  
  .slytherin-mode .card {
    border-color: #003407;
  }
  
  .slytherin-mode .memberSpotlights .card1 {
    border-color: #003407;
  }
  
  .slytherin-mode hr {
    border-color: #003407;
  }
  
  .slytherin-mode a:hover {
    background-color: rgb(192, 187, 187);
  }
  .slytherin-mode #menu::before {
    color: black;
  }
  
  .slytherin-mode #menu.open::before {
    color: black;
  
  }


/*pantalla de celular*/
@media screen and (max-width: 680px) {

    #menu {
        font-size: 2.5rem;
        padding: 3px 7px 6px;
        position: absolute;
        background-color: transparent;
        top: 1rem;
        right: 1rem;
    }

    .navigation {
        display: none;
    }

    #menu::before {
        content: "☰";
        color: white;

    }

    #menu.open::before {
        content: "X";
        color: white;

    }

    .open {
        display: block;
    }

    .open a {
        display: flex;
        justify-content: center;
        margin-left: -10%;
    }

}

